/* common sherd style */
body{
    font-family: 'Open Sans', sans-serif;
}

.p-color{
    color:rgba(19, 19, 24, 0.70);
}

.btn-primary{
    background-color: #FF5400;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border: none;
}
/* .color-primary{
    color: #FF5400;
}

/* Header part */
/*Nav ber works */
/* .nav-logo{
    display: flex;
    text-align: center;
}
.nav-logo img{
    height: 30px;
    width: 30px;
} */ 

/* Header banner section */
.banner-img{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    height: 500px;
    margin: 10px 90px;
}
/* Banner text color */
.h1-text-color{
    color: #fff;
    font-size: 40px;
}
.p-text-color{
    color: #fff;
}
/* banner text center */
.banner-text{
    padding-top: 30px;
    text-align: center;
}
/* banner input field  */
.banner-input-field{
    margin-left: 350px;
    padding: 10px;
/* background blear for  */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    /* align-items: flex-start; */
    gap: 20px;
}

.input-field{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
}


/* Main section part */
.popular-tour{
    margin: 10px 90px;
    display: flex;
    margin-top: 50px;
}
/*  */
.popular-tour-text{
    width: 50%;
}
.popular-tour-img{
    padding-left: 40px;
    
}
.popular-tour-img img{
    height: 500px;
    width: 550px;
}

/* Choose part in project */
.choose-part{
    margin-top: 50px;
}
/*  */
.choose-text{
    text-align: center;
}
/* card part  */
.card-section{
    margin: 10px 90px;    
    display: flex;   
    margin-top: 50px;
}
/*  */
.first-card{
    background-color: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 20px 30px;
    border-radius: 10px;
   
}
.second-cord{
    background-color: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.20);
    padding: 20px 30px;
    margin-left: 20px;
    border-radius: 10px;
}

.third-card-work{
    width: 41.5%;
    margin: 10px 90px;
    margin-left: 400px;
    margin-top: 20px;

}
/*  */
.third-cord{
    
    background-color: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 20px 30px;
    border-radius: 10px;
}
.icon-size{
    height: 30px;
    width: 30px;
}

/* Last card */
.last-card{
    margin: 10px 90px;
    display: flex;
    margin-top: 50px;

}
/*  */
.last-card-1{
    width: 30%;
    border: 1px solid #FF5400;
    padding: 25px;
    border-radius: 10px;
    margin-right: 40px;
    height: 400px;
}
.last-card-1 input{
    width: 250px;
    height: 30px;
    border: none;
    background-color: rgba(19, 19, 24, 0.05);
}
.last-card-1 button{
    width: 250px;
    height: 35px;

}
.last-card-2-img img{
    height: 450px;
    width: 745px;
}

/* footer section */
.footer-all{
    background-color: rgba(19, 19, 24, 0.05);
    margin-top: 50px;
    height: 250px;
}
.footer{
    display: flex;  
}
.footer-img img{
    width: 30px;
    height: 30px;
    margin-left: 500px;
    margin-right: 20px;
}
.color-primary{
    color: #FF5400;
}
.footer-text .p-color{
    text-align: center;
}
.footer-p{
    text-align: center;
}

.footer-logo{
    display: flex;
    padding-left: 600px;
  
   
}
.footer-img-1 img{
    margin-right: 30px;
}
.copy-right{
    text-align: center;
    margin-top: 30px;
}


/* Responsive styles */

/* Responsive for small device 600px and down */
   @media screen and (max-with: 600px) {
    .banner-img{
       padding: 20px;
    }
   .banner-input-field{
    flex-direction: column;

   }

   }




/* Responsive for laptops and desktops 992px and up */